div.companyFormContainer {
    width: 50%;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-top: 2em;
    }

    .ui-inputtext {
        width: 100%;
    }

    .buttonGroup {
        margin: 1em .5em;
    }
}