.tasksContainer {
    span {
        font-size: .9em;
        font-style: italic;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            font-size: .8em;
        }

        .taskDone {
            opacity: .7;
            text-decoration: line-through;
        }
    }

    .newTask {
        margin-top: 5px;
    }

    span.saveBtnContainer {
        float: right;
        margin-top: -6%;
    }
}